<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite parallel="tests" name="Suite"> 
<test name="SubmitOrderTest">
    <classes>
      <class name="Priyankaacademy.SeleniumFrameworkDesign.SubmitOrderTest"/>
    </classes>
  </test> <!-- Test -->
  
  <test name="ErrorValidationsTest">
    <classes>
      <class name="Priyankaacademy.SeleniumFrameworkDesign.ErrorValidations"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->

